*.webp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.avif filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.gltf filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.woff2 filter=lfs diff=lfs merge=lfs -text
*.woff filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
docs/vendor/mathjax/** filter=lfs diff=lfs merge=lfs -text
docs/vendor/echarts/** filter=lfs diff=lfs merge=lfs -text
docs/vendor/mermaid/** filter=lfs diff=lfs merge=lfs -text
docs/vendor/three/** filter=lfs diff=lfs merge=lfs -text
docs/vendor/react.production.min.js filter=lfs diff=lfs merge=lfs -text
docs/vendor/react-dom.production.min.js filter=lfs diff=lfs merge=lfs -text
docs/vendor/htm.umd.js filter=lfs diff=lfs merge=lfs -text
docs/vendor/htm.module.js filter=lfs diff=lfs merge=lfs -text
docs/vendor/r3f/** filter=lfs diff=lfs merge=lfs -text
docs/vendor/react-esm/** filter=lfs diff=lfs merge=lfs -text
